<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V2Ray RSS</title>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
    <script src="/libs/jquery/jquery.min.js"></script>
</head>
<body>