<% include head.ejs %>

<div class="index-page">
    <div class="card">
        <h5 class="card-header">
            <%= title %>
            <div class="float-right">
                <button type="button" class="btn btn-sm btn-success" id="syncStartBtn" data-src="/api/servers/sync">
                    直接同步
                </button>
                <button type="button" class="btn btn-sm btn-primary" id="syncProxyBtn" data-src="/api/servers/proxy">
                    代理同步
                </button>
            </div>
        </h5>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <ul class="server-list"></ul>
                </div>
                <div class="form-group row">
                    <p class="server-rss p-4"></p>
                </div>
                <!--                <div class="form-group row">-->
                <!--                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>-->
                <!--                    <div class="col-sm-10">-->
                <!--                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="form-group row">-->
                <!--                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>-->
                <!--                    <div class="col-sm-10">-->
                <!--                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">-->
                <!--                    </div>-->
                <!--                </div>-->
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>

<% include foot.ejs %>
