<% include head.ejs %>

<div class="container">
    <ul class="server-list">
        <% servers.forEach((server) => { %>
            <li><a href="<%= server.url %>" title="<%= server.name %>"> <%= server.url %> </a></li>
        <% }) %>
    </ul>
</div>

<% include foot.ejs %>