.server-list {
    margin: 0;
    padding: 15px;
    list-style: none;
    word-wrap: break-word;
    word-break: break-all;
}

.server-list li {
    padding: 15px;
    border-bottom: 1px dashed #ccc;
}

.server-list li:last-child {
    border-bottom: none;
}

.server-list a {
    color: #444;
    text-decoration: none;
}

.server-rss {
    word-wrap: break-word;
    word-break: break-all;
}

.index-page {
    /*width: 1000px;*/
    /*max-height: 100%;*/
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
    /*position: fixed;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    margin: 10px;
    padding: 0;
}
